<h3>以下を確定したら画像を加工しよう。<br>公にしたくない所を始点と終点を打って黒塗りしよう</h3>

<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image %>
  <!-- ここ追加 -->
 <%= hidden_field_tag :"cache[image]", form.image.cache_name %>
  <p>タイトル:<%= form.title %></p>
  <p>タイトル:<%= form.content %></p>
  <p>タイトル:<%= image_tag form.image_url %></p>
  <%= form.submit  "登録する" , class: 'btn btn-xs btn-primary' %>
<% end %>

<%= form_with(model: @picture, url: new_picture_path, method: :get) do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "戻る", name: 'back', class: 'btn btn-xs btn-danger' %>
<% end %>
