<h1>お気に入り一覧</h1>
<div class="col-xs-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
  <%= link_to '戻る', pictures_path %>
  <% @favorites_pictures.each do |picture| %>
    <div class="wrapper">
      <p><%= image_tag picture.image_url ,size:'300x200'%></p>
      <p><%= picture.title %></p>
      <p><%= picture.content %></p>
      <span><%= picture.user.name %></span>
      <span><%= link_to 'お気に入り解除する', favorite_path(picture.id), method: :delete, class: 'btn btn-xs btn-danger'%></span>
      <span><<%= picture.updated_at %></span>
    </div>
  <% end %>
</div> 
