

<h1>インスタグラムクローン</h1>


<div class="container">
  <div id="new-picture-link">
    <%= link_to '新規ブログを作成する', new_picture_path %>
  </div>

  <div class="row">
    <% @pictures.each do |picture| %>
      <div class="picture-panel col-md-4 col-xs-12 wrapper">
        <p><%=picture.image %></p>
        <p><%= picture.title %></p>
        <p><%= picture.content %></p>
        <p><%= picture.created_at %></p>
        <div class="picture-links">
          <%= link_to 'Show', picture, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_picture_path(picture), class: 'btn btn-info' %> |
          <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- <%#= link_to 'New Picture', new_picture_path %> -->
